.google-fonts {
    font-family: "Noto Sans JP", sans-serif;
      font-optical-sizing: auto;
     font-weight: 400;
      font-style: normal;
}   

    
    
     .decoration {
        border-bottom: solid 3px rgb(115, 115, 114)

}
#parent p  {font-weight: bold;
}




html {
    font-size: 20px;
    text-align: center;
}
body {
    font-family: "Arial", "Meiryo", sans-serif;
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px grey;
    font-size: 2rem;
    letter-spacing: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
}





.skyblue {
    color: #87ceeb;
}
.pink {
    color: rgb(255, 192, 203);
}

.text_pink{
          color: rgb(255, 192, 203);
        }
        
.text_blue{
         color: skyblue;
        }